<div class="container">
  <div class="my-4">
    <div class="row">
      <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <img src="<%= asset_path 'photo1.jpg' %>" alt="Profile picture" class="about-photo">
      </div>
      <div class="col-md-8 col-sm-12">
      <div class="text-center">
        <h1 class="mt-4 mb-4 yellow-text"><i class="fa-solid fa-arrows-to-dot"></i> About me <i class="fa-solid fa-arrows-to-dot"></i></h1>
      </div>
      <div class="d-flex text-center justify-content-center  align-items-center">
        <p class="about-text">
        I hold a degree in <strong class="yellow-text">Industrial Engineering</strong>, but I have always been captivated by the world of web development.
        This passion led me to transition into a <strong class="yellow-text">Fullstack Developer</strong> role, where I can merge my analytical skills with my creativity.
        I have taken several web development courses to enhance my knowledge and skills in this field.
        I am excited to contribute to <strong class="yellow-text">impactful projects</strong> and collaborate with like-minded individuals in the tech community.
        </p>
      </div>
    </div>
  </div>
</div>
