<div class="banner">
  <h6 class="mb-1">HELLO!</h6>
  <h1>I'm <span class="yellow-text"><strong>Daniela Mondragón</strong></span></h1>
  <h4>Fullstack Web Developer</h4>
  <p>dani.mariana2901@gmail.com &nbsp;•&nbsp; (+52) 771 35 54 932</p>
  <div class="d-flex mt-4">
    <a class="icon-link yellow-text text-decoration-none" href="">
      <i class="fa-brands fa-square-github"></i>
    </a>
    <a class="ms-3 icon-link yellow-text text-decoration-none" href="">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <a class="mt-4 btn yellow-btn px-5 rounded-pill" href="">
    <i class="fa-solid fa-download"></i>&nbsp;&nbsp;<strong>Download CV</strong>
  </a>
</div>
