<nav class="pt-3">
  <ul class="nav nav-underline justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="#">About me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Technical Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Soft Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Projects</a>
    </li>
  </ul>
</nav>
