.icon-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon-link i {
  font-size: 35px;
  &:hover {
    transform: scale(1.1);
    color: #fdb715 !important;
  }
}

.yellow-btn {
  background-color: #FDC642 !important;
  &:hover {
    transform: scale(1.1);
    color: black !important;
    background-color: #fdb715 !important;;

  }
}

.floating-image {
  position: absolute;
  bottom: 0px;
  right: 100px;
  width: 400px;
  z-index: 10;
  margin: 0;
}
